/* fonts */

/* stilizzazione */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0F172A;
}

p{
    margin: 0;
    /* color: #fff; */
}
ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a{
    color: #fff;
    text-decoration: none;
    font-family: vampire_wars_regular;
}

/* home */

header{
    width: 100%;
    /* height: 300px; */
    background-color: #020617;
    font-size: 36px;
    font-family: "Montserrat";
    font-weight: 600;
    border-bottom: #000 solid 4px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

header ul{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

header ul li a i{
    transition: all 0.4s ease;
    color: #ccc;
}

header ul li a i:hover{
    scale: 1.25;
    color: #000;
}

.main{
    width: calc(100% - 40px);
    margin: 0 auto;
    /* height: 300px; */
    /* background-color: #fff; */
    margin-top: 100px;
    box-sizing: border-box;
    padding: 40px;
}