/* fonts */

/* stilizzazione */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0F172A;
    font-family: "montserrat";
    font-weight: 500;
}

p{
    margin: 0;
    /* color: #fff; */
}
ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a{
    color: #fff;
    text-decoration: none;
}

/* home */

header{
    width: 100%;
    /* height: 300px; */
    background-color: #020617;
    font-size: 36px;
    font-family: "Montserrat";
    font-weight: 600;
    border-bottom: #fff solid 1px;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

header ul{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

header ul li a i{
    transition: all 0.4s ease;
    color: #ccc;
}

header ul li a i:hover{
    scale: 1.25;
    color: #000;
}

.main{
    width: calc(100% - 40px);
    height: 485px;
    margin: 20px auto;
    /* height: 300px; */
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: #fff; */
    color: #fff;
}

.main .content_box{
    width: 600px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: #fff; */
}

.main .title{
    font-weight: 600;
    font-size: 48px;
}

.main .subtitle{
    font-weight: 500;
    font-size: 24px;
}

.main_button_color{
    background-color: #2194C7;
}

.cards_box{
    width: calc(100%-40px);
    margin: 0 auto;
    /* background-color: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards_box .separator{
    width: 100%;
    /* background-color: #fff; */
    /* height: 100px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding: 40px 0;
    text-align: center;
}

.cards_box .stroke{
    width: 40%;
    height: 2px;
    background-color: #fff;
}

.cards{
    width: 100%;
    height: 500px;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    column-gap: 5.352vw;
    row-gap: 85px;
    flex-wrap: wrap;
    padding: 0 20px;
}

/* stilizzazione Bootstrap */
.bold{
    font-weight: bold;
}

.card{
    width: 26rem;
    height: fit-content;
    background-color: #1E293B;
    color: #fff;
}

.btn-primary{
    background-color: #2194C7;
    border: none;
    width: calc(50% - 3px);
}
.btn-outline-primary{
    border-color: #2194C7;
    color: #2194C7;
    width: calc(50% - 3px);
}

.btn-primary:hover{
    background-color: #0E6792;
    border: none;
}


.btn-outline-primary:hover{
    background-color: #fff0;
    color: #0E6792;
    border-color: #0E6792;
}

.card-text{
    margin-bottom: .75rem;
}



/* Responsive */
